.git
.gitignore
.gitattributes
.editorconfig
node_modules
npm-debug.log
yarn-error.log
.env
.env.*
!.env.example
storage/logs/*.log
storage/framework/cache
storage/framework/sessions
storage/framework/views
bootstrap/cache/*.php
vendor
tests
*.md
*.txt
*.json
!composer.json
!composer.lock
!package.json
